html{
    font-family: 'Space Mono', monospace;
}

body{
    background-color: #C5E4E7;
    height: 100vh;;
}

header{
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #fff;
    border-radius: 25px 25px 0 0;
    padding: 32px;
    
}

.container{
     display: flex;
    flex-direction: column;
    align-items: center;
}

.bill-container{
    width: 100%;
    max-width: 380px;
    margin-bottom: 32px;
}

.bill-container h1{
    margin-bottom: 6px;
    color: #5E7A7D;

}

.bill-container input{
    background-color: #F3F9FA;
    border: 0;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    padding-right: 17px;
    box-sizing: border-box;
    text-align: right;
    color: #00474B;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
}

.bill-container div{
    position: relative;
}

#usd{
    position: absolute;
    top: 17px;
    left: 19px;
}

::placeholder{
    color: #00474B;
    text-align: end;
    font-size: 24px;
    line-height: 35.5px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16.5px;
    width: 100%;
    max-width: 380px;
    justify-content: center;
}

.select-tip h1{
    color: #5E7A7D;
    margin-bottom: 16px;
}

.select-tip button, .select-tip input{
    width: 145px;
    height: 48px;
    border: 0;
    border-radius: 5px;
    background-color: #00474B;
    color: #fff;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
}

#custom{
    background-color: #F3F9FA;
    color: #00474B;
    text-align: right;
    padding-right: 17px;
    box-sizing: border-box;
}

input[id="custom"]::placeholder{
    color: #547878;
}

.quantity-container{
    width: 100%;
    max-width: 380px;
    margin: 32px 0 ;
}

.quantity-container h1{
    margin-bottom: 6px;
    color: #5E7A7D;

}

.quantity-container input{
    background-color: #F3F9FA;
    border: 0;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    padding-right: 17px;
    box-sizing: border-box;
    text-align: right;
    color: #00474B;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
}

.quantity-container div{
    position: relative;
}

#person{
    position: absolute;
    top: 17px;
    left: 19px;
}

.green-div{
    width: 100%;
    max-width: 380px;
    background-color: #00474B;
    border-radius: 15px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.green-div h1{
    font-weight: 700;
    color: #26C2AE;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: 0.67px;
    text-align: right;
}

.green-div h2{
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    line-height: 24px;

}

.green-div p{
    font-weight: 700;
    color: #7F9D9F;
    font-size: 13px;
    line-height: 19px;
}

.green-div button{
    margin-top: 10px;
    width: 100%;
    height: 45px;
    background-color: #26C2AE;
    border-radius: 5px;
    color: #00474B;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}